* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #d9d9d9;
    text-align: center;
}

header {
    background-color: #2f80ed;
    color: white;
}

.header-bar {
    padding: 1rem;
}

#menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: .5rem 1rem 1rem;
}

.header-bar img {
    width: 80px;
    margin-top: 0.5rem;
}

.nav-links {
    display: none;
}

.nav-links.show {
    display: block;
    list-style: none;
    padding-bottom: 1rem;
}

main {
    padding: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

.gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid white;
}

footer {
    background-color: #2f80ed;
    color: white;
    padding: 0.75rem;
    margin-top: 1rem;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}

.modal.show {
    display: flex;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}


@media (min-width: 600px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    #menu-button {
        display: none;
    }
    .nav-links {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 2rem;
        padding-bottom: 1rem;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
