body {
    background-color: grey;
    font-size: 20px;
}

#content {
    max-width: 60%;
    border: 1px solid black;
    margin: 40px auto;
    padding: 50px;
}

p {
    color: #035f9c;
    font-size: 1.3em;
}

hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
    border: none;
    margin-top: 50px;
}

h1, h2, p {
    text-align: center;
}

#logos {
    text-align: center;
}

img{
    width: 50%;
    margin: 50px;
}

#topics {
    margin: 0 auto;
    line-height: 1.5em;
}

.list {
    list-style-type: none;
}