
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
gap: 1rem;
flex-direction: column;
justify-content: flex-end;
align-items: center;
background-color: lightblue;
padding: 40px;
}

.media-card{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.gallery{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery > *{
    flex: 0 1 460px;
}

hr{
margin-top: 50px;
}

@media screen and (min-width: 700px) {
    .main-nav {
        flex-direction: row;
    }

    .main-nav li{
    flex: 0 1 5em; 
    }

    .media-card{
        flex-direction: row;
    }

    .gallery section{
        flex: 0 1 360px;
    }
}